html, body {
  height: 100%;
  margin: 0;
}
.page{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  height: 95%;
  margin: auto auto;
  background-color: green;
}
.map{
  display: flex;
  width: 700px;
  height: 400px;
  background-color: green;
  margin: auto auto;
  flex-wrap: wrap;
  margin: auto auto;


}
#puzzleResult{
  width: 700px;
  height: 400px;
  background-color: white;
  border: 1px solid black;
  margin: auto auto;



}
#shuffledPuzzle {
  width: 700px;
  height: 400px;
  background-color: purple;
  border: 1px solid black;
  margin: auto auto;


}
#getLocation, #saveButton{
  text-align: center;
  background-color: dodgerblue;
  margin-top: auto;
  margin-bottom: 10px;
  margin-left: 5%;
  padding: 3px;

}

#map {
  width: 700px;
  height: 400px;
  border: 1px solid black;
  margin-left: 55px;
  margin: auto auto;

}

#rasterMap {
  width: 700px;
  height: 400px;
  border: 1px solid black;
  margin: auto auto;


}
