body{
  background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/seamless-repeating-background-tile-terryfic3d.jpg");
}
.block{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.frame{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 800px;
  height: auto;
  border: 2px solid black;
  border-radius: 15px;
  margin: 0 auto;
  padding: 10px;
  justify-content: center;
  background-color: #222222;
  opacity: 0.99;
  background-image: url("https://c.stocksy.com/a/JIl800/z9/2088427.jpg");


}
.result {
  background-image: url("https://c.stocksy.com/a/JIl800/z9/2088427.jpg");

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 20px;
  width: 800px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 0 auto;
  padding: 10px;
  background-color: #222222;
  opacity: 0.99;

}


.date {
  grid-column: 1 ;
  grid-row: 1 / 2;
  font-size: 2.5rem;
  padding-left: 1rem;
}


.icon {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  width: 9rem;
  height: 9rem;
  align-self: start;
  justify-self: center;

}

.side-panel {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  font-size: 2.5rem;

}
.temp{
  font-weight: bold;
  font-size: 3rem;
  text-decoration: underline;
  opacity: 0.7;
  text-decoration-color: purple;
}

