header {
  background-color: darkslateblue;
  padding-top: 20px;
}

h1 {
  text-align: center;
  background: linear-gradient(to right, #5689f7, #a3cef1);
  color: white;
  text-shadow: 2px 2px 8px #333;
  padding: 20px;
  border-radius: 8px;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
}

h2{
  text-align: center;

}
h2::before {
  content: "★";
  color: orange;
}
/* Styl dla listy */
ul {
  list-style-type: circle;
  padding-left: 20px;
  color: #336699;
  font-size: 16px;
}


h3 {
  background-color: #333;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 4px;
}

p::first-letter {
  font-size: 120%;
  color: crimson;

}

.kontener {
  min-height: 100vh;
}

#content {
  width: auto;
  height: auto;
  border: 2px solid black;
  padding: 10px;
  background-color: #222222;
}

#content  div {

  border: 2px solid black;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 30px;
  background-image: url("https://www.publicdomainpictures.net/pictures/130000/velka/blue-gradient-background.jpg");
}

footer {
  padding: 20px;
  background: dodgerblue;
  color: purple;
}

body {
  background-image: url("https://storage.pixteller.com/designs/designs-images/2019-03-27/05/simple-background-backgrounds-passion-simple-1-5c9b95d2b9dfb.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.inside {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
}
