# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.cache

.gitattributes
lab-B
icon.svg
webpack.common.js
package.json
robots.txt
icon.png
webpack.config.dev.js

site.webmanifest
favicon.ico
app.js
.gitignore
.editorconfig
404.html
LICENSE.txt
webpack.config.prod.js
img
.idea